body, h1, p, ul, li {
    margin: 0;
    padding: 0;
}

body {
    background-color: #f5e5d7; /* Tons outonais */
    font-family: "Georgia", serif; /* Fonte inspirada na série Gilmore Girls */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.cadastro-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.logo {
    width: 100px; /* Tamanho da logo */
    margin-bottom: 20px;
}

h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

.campo {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.campo input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    margin-right: 10px;
}

.campo i {
    font-size: 24px;
    color: #d35400; /* Cor do ícone */
}

.btn-cadastro {
    background-color: #d35400; /* Cor de fundo do botão de cadastro */
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    margin-top: 10px;
    margin-left: 10px; /* Espaço entre os botões */
    transition: background-color 0.3s ease; /* Adicionar transição suave */
}

.btn-cadastro:hover {
    background-color: #a04000; /* Cor de destaque no hover */
}
.links {
    margin-top: 20px;
}
.links a {
    text-decoration: none;
    color: #d35400; /* Cor do link */
    font-weight: bold;
    margin: 0 10px;
}
